/* Estilos específicos para um componente ou página */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #0070f3;
}
